DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=shop_db
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:your_password_here@127.0.0.1:5433/shop_db?schema=public